body, h1{
    margin: 0;
    padding: 0;
}

h1{
    font: 500 2rem Tourney;
}

header{
    text-align: center;
    background-color: #243119;
    color: white;
    margin: 0;
}

#div-table{
    display: flex;
    justify-content: center;
}

table{
    margin: 1rem 0 1rem 0;
    text-align: center;
}

.spotlight, thead{
    background-color:var(--color-main);
    color: white;
    font-weight: bold;
}

td, th{
    border: solid black;
    height: 4rem;
    width: 10rem;
    max-height: 4rem;
    max-width: 10rem;
}

td{
    font: 300 1rem Roboto;
}

th{
    font: 400 1.3rem Tourney;
    color:white;
}

#github-icon{
    position: absolute;
    left: 0;
    display: flex;
    max-height: 1.5rem;
}

#social-media{
    position: absolute;
    right: 0;
    display: flex;
    max-height: 1.5rem;
}

.social-medias-icon{
    max-width:1.5rem;
    max-height:1.5rem;
    width: auto;
    height: auto;
    margin: 0 0.1rem;
}

#div-table-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.buttons{
    background-color: var(--color-buttons);
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 50%;
    margin: 0 1rem;
}

.buttons:hover{
    cursor: pointer; /*mãozinha*/
    background-color: var(--color-buttons-hover);
    transition: 0.5s;
}

.plus-less-icon{
    max-height: 2rem;
}

footer{
    background-color: #243119;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-top: 1rem;
}

footer h1{
    font-size: 1.6rem;
}