body, h1{
    margin: 0;
    padding: 0;
}

h1{
    font: 500 2rem Tourney;
}

header{
    text-align: center;
    background-color: #243119;
    color: white;
    margin: 0;
}

#div-table{
    display: flex;
    justify-content: center;
}

table{
    margin: 20px 0 40px 0;
    text-align: center;
}

.spotlight, thead{
    background: #629460;
    color: white;
    font-weight: bold;
}

td, th{
    border: solid black;
    height: 4rem;
    width: 10rem;
    max-height: 4rem;
    max-width: 10rem;
}

td{
    font: 300 1rem Roboto;
}

th{
    font: 400 1.3rem Tourney;
}

footer{
    background-color: #243119;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer h1{
    font-size: 1.6rem;
}

#github-icon{
    position: absolute;
    left: 0;
    display: flex;
    max-height: 1.5rem;
}

#social-media{
    position: absolute;
    right: 0;
    display: flex;
    max-height: 1.5rem;
}

.social-medias-icon{
    max-width:1.5rem;
    max-height:1.5rem;
    width: auto;
    height: auto;
    margin: 0 0.1rem;
}
