:root{
    --color-lightest: #c9f2c7;
    --color-almost-lightest: #aceca1;
    --color-green-medium: #96be8c;
    --color-main: #629460;
    --color-header-footer: #243119;
    --color-buttons: green;
    --color-buttons-hover: rgb(0, 105, 0);
}